<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momohelp.mapper.SellMapper">
	<resultMap id="sell" type="com.momohelp.model.Sell">
		<id column="id" property="id" jdbcType="VARCHAR" />

		<result column="num_sell" property="num_sell" jdbcType="INTEGER" />

		<result column="time_deal" property="time_deal" jdbcType="DATE" />

		<result column="create_time" property="create_time" jdbcType="DATE" />

		<result column="calc_time" property="calc_time" jdbcType="DATE" />

		<result column="user_id" property="user_id" jdbcType="VARCHAR" />

		<result column="type_id" property="type_id" jdbcType="INTEGER" />

		<result column="flag_calc_bonus" property="flag_calc_bonus"
			jdbcType="INTEGER" />
	</resultMap>
	<select id="selectByCycles" resultType="sell">
		<!-- 由于系统时间以及管理员可以修改计算时间 -->
		SELECT * FROM p_sell as p
		WHERE p.calc_time between #{0} and #{1} and
		p.flag_calc_bonus=0 ORDER BY p.calc_time ASC
	</select>
	<update id="updateFlagCalc">
		update p_sell as p SET p.flag_calc_bonus=1 where p.id=#{0}
	</update>
</mapper>