<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momohelp.mapper.SellMapper">
	<resultMap id="sell" type="com.momohelp.model.Sell">
		<id column="id" property="id" jdbcType="VARCHAR" />
		
		<result column="num_sell" property="num_sell" jdbcType="INTEGER" />
		
		<result column="time_deal" property="time_deal" jdbcType="DATE" />
		
		<result column="create_time" property="create_time" jdbcType="DATE" />
		
		<result column="user_id" property="user_id" jdbcType="VARCHAR" />
		
		<result column="type_id" property="type_id" jdbcType="INTEGER" />
		
	</resultMap>
	<select id="selectByCycles" resultType="sell">
		SELECT * FROM p_sell as p
		WHERE p.create_time between #{0} and #{1}
	</select>
</mapper>