<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momohelp.mapper.SellMapper">

	<resultMap id="baseResultMap" type="com.momohelp.model.Sell">
		<id column="id" property="id" jdbcType="VARCHAR" />

		<result column="user_id" property="user_id" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" />

		<result column="num_sell" property="num_sell" />
		<result column="time_deal" property="time_deal" />
		<result column="type_id" property="type_id" />
		<result column="num_deal" property="num_deal" />
	</resultMap>


	<select id="findUnDealByUserId" resultMap="baseResultMap"
		parameterType="java.util.Map">

		SELECT * FROM p_sell WHERE user_id = #{user_id}
		AND
		num_sell != num_deal ORDER BY create_time
		DESC
	</select>

	<update id="updateNum_deal" parameterType="com.momohelp.model.Sell">
		UPDATE p_sell SET
		num_deal = num_deal + #{num_deal} WHERE id = #{id}
	</update>
</mapper>