<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momohelp.mapper.UserMapper">

	<resultMap id="baseResultMap" type="com.momohelp.model.User">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="user_name" property="user_name" jdbcType="VARCHAR" />
		<result column="user_pass" property="user_pass" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findCommission" resultType="com.momohelp.model.Commission"
		parameterType="java.util.Map">
		SELECT
		u.id,u.total_dynamic,p.flag
		,p.depth,p.relation_id,p.trigger_time,p.money, w.user_id
		relation_user_id FROM
		s_user as
		u ,t_prize
		as p, w_farm_chick w where
		u.id=#{user_id} and
		u.id=p.user_id
		and p.relation_id=w.id
		ORDER BY
		p.trigger_time
		DESC
	</select>

	<select id="findRecommend" resultType="com.momohelp.model.UserRecommend"
		parameterType="java.util.Map">
		SELECT a.*,1 moCount, (SELECT count(1) FROM s_user b
		where b.pid=a.id) teamCount FROM s_user a where a.pid=#{user_id} ORDER
		BY a.create_time DESC
	</select>

	<select id="findUserCount" resultType="com.momohelp.model.UserCount"
		parameterType="java.util.Map">
		SELECT

		(SELECT count(1) FROM s_user WHERE
		pid=#{user_id})
		ztslqb,

		(SELECT count(1) FROM s_user WHERE
		pid=#{user_id} and
		total_static>0) ztslhg,

		(SELECT count(1) FROM s_user WHERE path like
		(SELECT CONCAT(path, ',', #{user_id}, '%') from s_user where
		id=#{user_id})) tdslqb,

		(SELECT count(1) FROM s_user WHERE path like
		(SELECT CONCAT(path, ',', #{user_id}, '%') from s_user where
		id=#{user_id}) and total_static>0)
		tdslhg
	</select>

	<select id="findSysCount" resultType="com.momohelp.model.SysCount"
		parameterType="java.util.Map">
		SELECT
		(SELECT COUNT(1) FROM s_user) hyzs,
		(SELECT SUM(num_feed) FROM w_farm_feed WHERE create_time like CONCAT(DATE(now()), '%')) jrwjs,
		(SELECT SUM(num_hatch) FROM w_farm_hatch WHERE create_time like CONCAT(DATE(now()), '%')) jrfhs,
		(SELECT SUM(total_ticket) FROM s_user) ljmps,
		(SELECT SUM(total_food) FROM s_user) ljsls,
		(SELECT SUM(total_static) FROM s_user) jtqb,
		(SELECT SUM(num_buy) FROM w_farm_chick WHERE create_time like CONCAT(DATE(now()), '%')) pdl,
		(SELECT SUM(num_sell) FROM p_sell WHERE create_time like CONCAT(DATE(now()), '%')) mpl,
		(SELECT SUM(num_matching) FROM p_buy_sell WHERE create_time like CONCAT(DATE(now()), '%') AND p_sell_id!='null' AND p_buy_id!='null') ppl
	</select>

</mapper>